html
  head
    title FCC Advanced Node and Express
    link(rel='stylesheet', href='/public/style.css')
  body
    h1.border.center FCC Advanced Node and Express Project
    p=message_1 
    p#pug-variable=message_2