html
  head
    title FCC Advanced Node and Express
    link(rel='stylesheet', href='/public/style.css')
  body
    h1.border.center FCC Advanced Node and Express Chat app Project
    h2.border.center Profile
    h2.center#welcome Welcome, #{username}!
    a(href='/logout') Logout
    
