body {
    color: antiquewhite;
    background-color: rgb(209, 133, 34);
}

.border {
    border-style: inset;
    border-width: 1px;
    margin: 10px;
    background-color: rgb(48, 197, 48) 
  }
  
  .center {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  #pug-variable{
    font-size: x-large;
  }